{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<div class="columns">
    <div class="column is-half">
        <figure class="image is-512x512">
            <img
                src="{% if product.image %}{{ product.image.url }}{% else %}https://images.unsplash.com/photo-1557318041-1ce374d55ebf?q=80&w=1760&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D{% endif %}" />
        </figure>
    </div>
    <div class="column is-half">
        <a class="is-size-4" href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
        </a>
        <p class="is-size-1 has-text-weight-bold">{{ product.name }}</p>
        <p class="is-size-2 has-text-weight-bold">${{ product.price }}</p>
        <div class="mt-5">
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" class="button is-large is-success is-fullwidth" value="Buy Now" style="margin-top: .5rem;">
            </form>
        </div>
    </div>
</div>
<div class="product-detail">
    {{ product.description|linebreaks }}
</div>
{% if recommended_products %}
<p class="is-size-3 mt-4 mb-4">{% trans "People who bought this also bought" %}</p>
<div class="fixed-grid has-5-cols">
    <div class="grid">
        {% for p in recommended_products %}
        <div class="cell">
            <a href="{{ p.get_absolute_url }}">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-fullwidth">
                            <img src="{{ p.image.url }}" alt="Placeholder image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-5">{{ p.name }} </p>
                            </div>
                            <div class="media-right">
                                <p class="subtitle is-6">${{ p.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}