{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}
{% endblock %}
{% block content %}
<div class="columns is-gap-4">
  <div class="column is-one">
    <aside class="menu">
      <p class="menu-label">{% trans "Categories" %}</p>
      <ul class="menu-list">
        <li>
          <a href="/" {% if not category %} class="is-active" {% endif %}>{% trans "All" %}</a>
        </li>
        {% for c in categories %}
        <li>
          <a href="{{ c.get_absolute_url }}" {% if category.slug == c.slug %} class="is-active" {% endif %}>{{ c.name }}</a>
        </li>
        {% endfor %}
      </ul>
      <p class="menu-label">{% trans "Filter" %}</p>
    </aside>
  </div>
  <div class="column is-four-fifths">
    <div class="grid is-col-min-11 is-gap-3">
      {% for product in products %}
      <div class="cell">
        <a href="{{ product.get_absolute_url }}">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square is-fullwidth">
                <img src="{{ product.image.url }}" alt="Placeholder image" />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-5">{{ product.name }} </p>
                </div>
                <div class="media-right">
                  <p class="subtitle is-6">${{ product.price }}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}